<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="previewImg">
        <div class="d-flex justify-content-between">
            <h3>Preview</h3>
            <a hx-get="/addtoorder" hx-target="#order" hx-swap="innerHTML" class="btn btn-success float-end" >Order Now</a>
        </div>
        <div class="custom-div "  >

            <img th:src="@{${imageUrl}}" alt="Image" class="img-fluid">
        </div>

    </div>



</body>
</html>
